.title {
  font-size: 30px;
  margin-top: 100px;
  margin-left: -40px;
}

.evolutionCard {
  width: 250px;
  height: 400px;
}
.evolutionImage {
  width: 250px;
  height: 250px;
}

.name {
  display: "block";
  font-size: 20px;
}
